<div class='logindiv'>
  <div class='top'></div>
  <div class='left'>
  </div>
  <div class="center">
    <nz-card>
      <div class='logintitle'>
        <img class="logo" src='./assets/img/logo.png'>
        <div>请输入用户名和密码</div>
      </div>
      <div class="loginmain">
        <div nz-row>
          <input nz-input type="text" placeholder="工厂编码" name="uname" class="form-control" [(ngModel)]="user.fid"
            required>
        </div>
        <div nz-row>
          <input type="text" name="uname" placeholder="用户名称" class="form-control" nz-input [(ngModel)]="user.uname"
            required>
        </div>
        <div nz-row>
          <input type="password" name="upass" placeholder="用户密码" class="form-control" nz-input [(ngModel)]="user.upass"
            required (keyup.enter)="onclick()">
        </div>
        <div nz-row>
          <button (click)='onclick()' nzType="primary" nz-button nzBlock>登录</button>
        </div>
      </div>
    </nz-card>
  </div>
  <div class='right'></div>
  <div class='bottom'></div>
  <!--
      <nz-card>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" nz-input formControlName="userName" placeholder="用户名称">
              <nz-select style="width: 100%;" [(ngModel)]="selectedUser" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select users" nzAllowClear>
                <nz-option *ngFor="let user of userList" [nzValue]="user.uid" [nzLabel]="user.uname"></nz-option>
                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                  <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
              </nz-select>
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please
              input
              your username!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" placeholder="用户密码">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please
              input
              your Password!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="remember">
              <span>记住我</span>
            </label>
            <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </nz-card>
  -->
</div>